{
  "arrowParens": "always",
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva"]
}
